In [1]:
import numpy as np

# Reshape

In [2]:
import numpy as np
Array = np.array([2,3,5,7,8,9,0,1,5,2,7,2])
Array

array([2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2])

In [3]:
Array = Array.reshape(1,12)
Array

array([[2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2]])

In [4]:
Array.reshape(3,2,2)

array([[[2, 3],
        [5, 7]],

       [[8, 9],
        [0, 1]],

       [[5, 2],
        [7, 2]]])

# Converting an array to list

In [5]:
Array = np.array([2,3,5,7,8,9,0,1,5,2,7,2])
X = list(Array)

X.append(100)
X

[2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2, 100]

In [6]:
Array = np.array([2,3,5,7,8,9,0,1,5,2,7,2])
X = Array.tolist()

X.extend([100])
X

[2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2, 100]

In [7]:
Array = Array.reshape(1,12)
Array

array([[2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2]])

In [8]:
X = list(Array)
X.append(100)
X

[array([2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2]), 100]

In [9]:
X = list(Array[0])
X.extend([100])
X.extend([200])
X

[2, 3, 5, 7, 8, 9, 0, 1, 5, 2, 7, 2, 100, 200]

In [10]:
X = np.array(X).reshape(2,7)
X

array([[  2,   3,   5,   7,   8,   9,   0],
       [  1,   5,   2,   7,   2, 100, 200]])

# Creating an empty array

In [11]:
empty_array = np.array([],dtype='I')
empty_array

array([], dtype=uint32)

# Creating an array or matrix of zeros

In [12]:
arr = np.zeros(5)
arr

array([0., 0., 0., 0., 0.])

In [13]:
arr = np.zeros(5,dtype='I')
arr

array([0, 0, 0, 0, 0], dtype=uint32)

In [14]:
arr = np.zeros((5,4),dtype='I')
arr

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]], dtype=uint32)

# Creating a matrix of ones

In [15]:
arr = np.ones(5)
arr

array([1., 1., 1., 1., 1.])

In [16]:
arr = np.ones(5,dtype='I')
arr

array([1, 1, 1, 1, 1], dtype=uint32)

In [17]:
arr = np.ones((10,12),dtype='I')
arr

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]], dtype=uint32)

In [18]:
list('ABCDEFGHIJKL')

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [19]:
import pandas as pd
df = pd.DataFrame(arr,columns=list('ABCDEFGHIJKL'))
df

   A  B  C  D  E  F  G  H  I  J  K  L
0  1  1  1  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1  1  1
2  1  1  1  1  1  1  1  1  1  1  1  1
3  1  1  1  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  1  1  1  1  1  1  1
5  1  1  1  1  1  1  1  1  1  1  1  1
6  1  1  1  1  1  1  1  1  1  1  1  1
7  1  1  1  1  1  1  1  1  1  1  1  1
8  1  1  1  1  1  1  1  1  1  1  1  1
9  1  1  1  1  1  1  1  1  1  1  1  1

# creating a sequence of numbers using arange function

In [20]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
Range_array = np.arange(1,20)
Range_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [22]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
Range_array = np.arange(1,20,2)
Range_array

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [24]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [25]:
Range_array = np.arange(20,0,-2,dtype='float').reshape(2,5)
Range_array

array([[20., 18., 16., 14., 12.],
       [10.,  8.,  6.,  4.,  2.]])

# linspace() for creating linearly spaced values

linspace(start,end,num=10,retstep=True)
if retstep is True then it shows the step size(an interval between any 2 consecutive numbers).

In [26]:
dummy_arr= np.linspace(0,20,num=21,dtype='I',retstep=True)
dummy_arr

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20], dtype=uint32),
 1.0)

In [27]:
dummy_arr = np.linspace(0,20,21)
dummy_arr

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20.])

In [28]:
dummy_arr = np.linspace(0,20,11)
dummy_arr

array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

In [29]:
dummy_arr = np.linspace(6,36,6)
dummy_arr

array([ 6., 12., 18., 24., 30., 36.])

In [30]:
dummy_arr = np.linspace(0,20,20,retstep=1)
dummy_arr

(array([ 0.        ,  1.05263158,  2.10526316,  3.15789474,  4.21052632,
         5.26315789,  6.31578947,  7.36842105,  8.42105263,  9.47368421,
        10.52631579, 11.57894737, 12.63157895, 13.68421053, 14.73684211,
        15.78947368, 16.84210526, 17.89473684, 18.94736842, 20.        ]),
 1.0526315789473684)

In [31]:
dummy_arr = np.linspace(0,100,retstep=True)
dummy_arr

(array([  0.        ,   2.04081633,   4.08163265,   6.12244898,
          8.16326531,  10.20408163,  12.24489796,  14.28571429,
         16.32653061,  18.36734694,  20.40816327,  22.44897959,
         24.48979592,  26.53061224,  28.57142857,  30.6122449 ,
         32.65306122,  34.69387755,  36.73469388,  38.7755102 ,
         40.81632653,  42.85714286,  44.89795918,  46.93877551,
         48.97959184,  51.02040816,  53.06122449,  55.10204082,
         57.14285714,  59.18367347,  61.2244898 ,  63.26530612,
         65.30612245,  67.34693878,  69.3877551 ,  71.42857143,
         73.46938776,  75.51020408,  77.55102041,  79.59183673,
         81.63265306,  83.67346939,  85.71428571,  87.75510204,
         89.79591837,  91.83673469,  93.87755102,  95.91836735,
         97.95918367, 100.        ]),
 2.0408163265306123)

In [32]:
dict1 = {'amount':np.linspace(100,600,6,dtype=int),
       'intrest':np.linspace(12.5,3.5,6),
       'month':np.linspace(6,36,6,dtype=int)}
df=pd.DataFrame(dict1)
df

   amount  intrest  month
0     100     12.5      6
1     200     10.7     12
2     300      8.9     18
3     400      7.1     24
4     500      5.3     30
5     600      3.5     36

In [33]:
import numpy as np
import pandas as pd

d1={}
d1['amount']=np.ones(6)*np.arange(100,700,100)+np.zeros(6)
d1['interest']=np.linspace(3.5,12.5,6)[::-1]
d1['month']=np.linspace(6,36,6)
print(d1)

df=pd.DataFrame(d1)
df['Principle Amount'] = ((df['amount']*df['interest'])/100) + df['amount']
df

{'amount': array([100., 200., 300., 400., 500., 600.]), 'interest': array([12.5, 10.7,  8.9,  7.1,  5.3,  3.5]), 'month': array([ 6., 12., 18., 24., 30., 36.])}

   amount  interest  month  Principle Amount
0   100.0      12.5    6.0             112.5
1   200.0      10.7   12.0             221.4
2   300.0       8.9   18.0             326.7
3   400.0       7.1   24.0             428.4
4   500.0       5.3   30.0             526.5
5   600.0       3.5   36.0             621.0

# Generating Random numbers

In [34]:
import random
random.random()

0.21958114521707783

there are multiple functions to create random numbers
rand()
randint()
random()
randf()
randn()

## Random.rand()

it will generate random values between 0-1

In [35]:
some_nums = np.random.rand(5)
some_nums

array([0.50788911, 0.12524746, 0.71695796, 0.49775774, 0.13287185])

In [36]:
#if nnothing is passed then it gives any 1 random number
some_nums = np.random.rand()
some_nums

0.3626659605965459

In [37]:
some_nums = np.random.rand(10)
some_nums

array([0.51191143, 0.65902116, 0.65959956, 0.58921245, 0.10381916,
       0.66353381, 0.564813  , 0.83601567, 0.12276548, 0.40496649])

In [38]:
some_nums = np.random.rand(4,5)
some_nums

array([[0.89867126, 0.68679124, 0.92965423, 0.14286643, 0.67859486],
       [0.30235221, 0.78687917, 0.29539442, 0.80102129, 0.53810296],
       [0.99787013, 0.99847244, 0.45540822, 0.57419731, 0.03741209],
       [0.40539911, 0.11036777, 0.27530256, 0.47382542, 0.37373718]])

## Random.random()

it will generate random numbers from 0-1

In [40]:
np.random.random()

0.309355657665205

In [41]:
np.random.random(10)

array([0.41743141, 0.01838126, 0.78176791, 0.46389958, 0.89413529,
       0.36768305, 0.11995522, 0.24962994, 0.5477701 , 0.84067478])

In [42]:
np.random.random(20).reshape(4,5)

array([[0.82639171, 0.92731678, 0.79723133, 0.48594707, 0.39408247],
       [0.22981911, 0.69038698, 0.28277673, 0.85568015, 0.54819883],
       [0.07032711, 0.98065692, 0.66030418, 0.69162915, 0.46690874],
       [0.78899021, 0.45683812, 0.56685053, 0.36183389, 0.72823496]])

## random.ranf()

it will generate random numbers from 0-1

In [43]:
np.random.ranf(8)

array([0.94411896, 0.60099401, 0.72454375, 0.02105867, 0.55437745,
       0.90479909, 0.17145539, 0.1219227 ])

In [44]:
np.random.ranf(8).reshape(4,2)

array([[0.39053241, 0.53726759],
       [0.17427972, 0.49762957],
       [0.37309314, 0.5305188 ],
       [0.38327653, 0.18548116]])

## np.random().randint()

In [45]:
np.random.randint(1,20,15)

array([15, 13,  8, 11, 11,  6, 19, 16, 18,  4,  6, 18,  7, 17,  4])

In [46]:
np.random.randint(1,20,size=15,dtype='I')

array([19,  3,  2,  1,  5, 13, 10, 13,  4, 11,  5, 13, 11,  8, 10],
      dtype=uint32)

In [47]:
np.random.randint(low=1,high=100,size=15,dtype='I')

array([40, 74, 62, 78,  1, 79, 49, 97, 52, 97, 95, 89, 81, 94, 64],
      dtype=uint32)

## np.random.randn()

It will generate the normally distributed numbers around (0,0) cordinates

In [48]:
np.random.randn(5)

array([-0.58445787,  0.18329903,  0.00322183,  0.11509793, -0.49005175])

In [49]:
np.random.randn(5,4)

array([[ 0.1502207 ,  1.94043991,  1.02538934, -0.03457714],
       [ 0.74140841, -0.91596843,  0.6845886 ,  0.76256886],
       [-0.28734762, -1.17991876,  0.81902637, -0.65750273],
       [ 0.06472143, -0.81732472,  0.93984013,  0.47173846],
       [-0.49106499, -0.16044363,  0.74020427, -1.07389397]])

In [50]:
np.random.randn(2,2)

array([[-0.12770993, -0.90917288],
       [-0.21628674, -0.61622775]])