Pandas >> Python Data Analysis
Pandas is python inbuilt library

Two data structures in Pandas:
    1. Series (1-D)
    2. Dataframe (2-D)
    
DataFrame:
    2 dimensional data
    Table with mutable rows & columns
    Mutable(add,update,delete,rename,replace)
    
Applications:
    used for working on datasets
    Analysis
    Visualization
    cleaning, Processing, mining, wrangling
    Manulpulation of the data
    join multiple tables
    creates excel, csv, json etc. files
    mathematical operations

In [1]:
import pandas as pd
import numpy as np

There are multiple ways how we can create a dataframe:
    1. excel
    2. csv
    3. json
    4. mongodb database
    5. sql database
    6. copy from clipboard
    7. List
    8. Array
    9. Dict

# creating a dataframe

In [2]:
data = {'column A':[3,4,5,6],'column B':[9,8,3,1]}
type(data)

dict

In [3]:
dataframe = pd.DataFrame(data)
dataframe

   column A  column B
0         3         9
1         4         8
2         5         3
3         6         1

# exporting a dataframe

In [4]:
dataframe.to_csv('dataframe.csv')

In [5]:
dataframe.to_excel('dataframe.xlsx')

In [6]:
dataframe.to_json('dataframe.json')

# creating an empty datframe

In [7]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

columns in dataframe are also refered as feature, variables, fields, dimensions
rows in dataframe are also refered as records, values, observations, index

In [8]:
dataframe

   column A  column B
0         3         9
1         4         8
2         5         3
3         6         1

In [9]:
dataframe['column C']= 'Python'
dataframe

   column A  column B column C
0         3         9   Python
1         4         8   Python
2         5         3   Python
3         6         1   Python

In [10]:
dataframe['column C']= ['p','y','t','h']
dataframe

   column A  column B column C
0         3         9        p
1         4         8        y
2         5         3        t
3         6         1        h

In [11]:
dataframe['column C'] = list('pyth')
dataframe

   column A  column B column C
0         3         9        p
1         4         8        y
2         5         3        t
3         6         1        h

In [12]:
dataframe['column D'] = np.array([10,20,30,40])
dataframe

   column A  column B column C  column D
0         3         9        p        10
1         4         8        y        20
2         5         3        t        30
3         6         1        h        40

In [13]:
dataframe['index'] = np.array([1,2,3,4])
df = dataframe.set_index('index')
df

       column A  column B column C  column D
index
1             3         9        p        10
2             4         8        y        20
3             5         3        t        30
4             6         1        h        40

In [14]:
df.to_csv('excel.csv')

# Loading the data in Pandas

In [15]:
df = pd.read_clipboard()
df

ParserError: Expected 5 fields in line 52, saw 6. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [ ]:
df = pd.read_clipboard()
df

In [16]:
df = pd.read_csv('Iris.csv')     #  we cn pass the file path & load that file in pandas
df

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.csv'

## checking the size of the dataframe

In [17]:
df.shape

(4, 4)

In [18]:
df.index

Int64Index([1, 2, 3, 4], dtype='int64', name='index')

In [19]:
df.columns

Index(['column A', 'column B', 'column C', 'column D'], dtype='object')

In [20]:
df.axes

[Int64Index([1, 2, 3, 4], dtype='int64', name='index'),
 Index(['column A', 'column B', 'column C', 'column D'], dtype='object')]

In [21]:
len(df.index),len(df.columns)

(4, 4)

In [22]:
len(df.index),df.shape[0]

(4, 4)

In [23]:
len(df.columns),df.shape[1]

(4, 4)

In [24]:
df.head()

       column A  column B column C  column D
index
1             3         9        p        10
2             4         8        y        20
3             5         3        t        30
4             6         1        h        40

In [25]:
df.head(20)

       column A  column B column C  column D
index
1             3         9        p        10
2             4         8        y        20
3             5         3        t        30
4             6         1        h        40

In [26]:
df.tail()

       column A  column B column C  column D
index
1             3         9        p        10
2             4         8        y        20
3             5         3        t        30
4             6         1        h        40

In [27]:
df.tail(10)

       column A  column B column C  column D
index
1             3         9        p        10
2             4         8        y        20
3             5         3        t        30
4             6         1        h        40

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column A  4 non-null      int64
 1   column B  4 non-null      int64
 2   column C  4 non-null      object
 3   column D  4 non-null      int32
dtypes: int32(1), int64(2), object(1)
memory usage: 144.0+ bytes

In [29]:
df.describe()

       column A  column B   column D
count  4.000000   4.00000   4.000000
mean   4.500000   5.25000  25.000000
std    1.290994   3.86221  12.909944
min    3.000000   1.00000  10.000000
25%    3.750000   2.50000  17.500000
50%    4.500000   5.50000  25.000000
75%    5.250000   8.25000  32.500000
max    6.000000   9.00000  40.000000

In [30]:
df.describe()[1:2]

      column A  column B  column D
mean       4.5      5.25      25.0

In [31]:
df.describe()[0:1][['SepalLengthCm','SepalWidthCm']]

KeyError: "None of [Index(['SepalLengthCm', 'SepalWidthCm'], dtype='object')] are in the [columns]"